/* Variables */
:root {
  /* font */
  --base-font-weight: 400;
  --base-font-size: 16px/1.42;
  --base-font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', sans-serif;

  /* color */
  --base-color: #333334;
  --strong-color: #111121;
  --link-color: #111;
  --link-hover-color: #555;
  --border-color: #dedfdf;
  --border-hover-color: #222;
  --minor-color: rgba(0, 0, 0, 0.07); /* very light color */
  --secondary-color: #555;
}

%normal-border {
  border-radius: 3px;
  border: 1px solid var(--border-color);
}


/* Border box */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


/* Typography */
body {
  font: var(--base-font-weight) var(--base-font-size) var(--base-font-family);
  color: var(--base-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 2.67rem;
  line-height: 1.2;
  letter-spacing: -0.07rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  letter-spacing: -0.07rem;
}

h3 {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -0.07rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

.strong,
strong {
  font-weight: 700;
  color: var(--strong-color);
}

article,
.content {
  margin-top: 2rem;
}

p {
  margin-top: 0;
}

a {
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.icon {
  color: #555;
  font-size: 1.25em;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

hr {
  border: 0;
  display: block;
  margin: 20px auto;

  &::after {
    display: block;
    content: '';
    border-top: 1px solid var(--border-color);
  }
}

.divider {
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid var(--minor-color);
}

.list--plain {
  margin: 0;
  padding: 0;
  list-style: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}


/* Form */

/* button */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 6px 20px;
  color: var(--base-color);
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.2s ease;

  @extend %normal-border;

  &:hover,
  &:focus {
    color: var(--link-color);
    border-color: var(--border-hover-color);
    outline: 0;
  }
}

.button--primary {
  color: #fff;
  background-color: #555554;
  border: 0;
  padding: 8px 20px;

  &:hover,
  &:focus {
    color: #fff;
    background-color: #777777;
  }
}

/* input */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  appearance: none;
}

textarea {
  min-height: 200px;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
  padding: 6px 10px;
  background-color: #fff;
  box-shadow: none;
  transition: border-color 0.2s ease;
  width: 100%;

  @extend %normal-border;

  &:hover,
  &:focus {
    border-color: var(--border-hover-color);
    outline: 0;
  }
}

.output {
  background-color: #fff;
  display: block;
  width: 100%;

  &__unit {
    opacity: 0.5;
    user-select: none;
  }

  &__output {
    border-bottom: 1px solid var(--secondary-color);
    font-size: 1.1em;
    font-weight: 500;
  }

  * + * {
    margin-left: 0.5em;
  }
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
}

input[type="range"] {
  display: block;
  width: 100%;
}

input:disabled,
button:disabled,
textarea:disabled {
  background-color: var(--minor-color);
  opacity: 1;
  cursor: default;
}

label,
.label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.9em;
}

.row--form {
  margin-bottom: 14px;
}

fieldset {
  padding: 0;
  border-width: 0;
}

/* Custom select */
.select {
  position: relative;
  width: 100%;
  line-height: 1.15;
}

.select__display {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  background-color: #fff;

  @extend %normal-border;

  &:hover {
    border-color: var(--border-hover-color);
  }
}

.select__options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  overflow: auto;
  z-index: 999;

  ul {
    @extend %normal-border;
  }
}

.select__option {
  cursor: pointer;
  padding: 6px 10px;
  background-color: #fff;

  &:not(:last-child) {
    border-bottom: 1px solid var(--minor-color);
  }

  &:hover {
    background-color: #eaeaee;
  }
}

/* Custome range */
.range-input {
  display: flex;
  align-items: center;
}

.range-input input {
  flex-grow: 1;
}

.range-input__range {
  margin-inline: 0.5em;
}

/* Site */

/* page */
.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page main {
  flex-grow: 1;
}

.inner {
  max-width: 960px;
  margin-inline: auto;
  padding-inline: 1em;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  * + * {
    margin-left: 1em;
  }
}

/* Grid */
.row {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.cols {
  flex: 1 1 auto;

  &.one {
    flex-basis: 8.333333333333%;
  }
  &.two {
    flex-basis: 16.666666666667%;
  }
  &.three {
    flex-basis: 25%;
  }
  &.four {
    flex-basis: 33.333333333333%;
  }
  &.five {
    flex-basis: 41.666666666667%;
  }
  &.six {
    flex-basis: 50%;
  }
  &.seven {
    flex-basis: 58.333333333333%;
  }
  &.eight {
    flex-basis: 66.666666666667%;
  }
  &.nine {
    flex-basis: 75%;
  }
  &.ten {
    flex-basis: 83.333333333333%;
  }
  &.twelve {
    flex-basis: 100%;
  }

  & + & {
    margin-left: 2rem;
  }
}

@media(max-width: 720px) {
  .row {
    display: block;
  }
  .cols + .cols {
    margin-left: 0;
  }
}

/* navbar, footer... */
.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  position: sticky;
  top: 0;
  z-index: 9;
}

nav {
  background-color: #fff;
  box-shadow: 0 2px 3px var(--minor-color);
  padding: 0.5em 0;
}

header {
  border-bottom: 1px solid var(--minor-color);
}

footer {
  border-top: 1px solid var(--minor-color);
  padding: 1.5em 0;
}

/* content */
.description {
  color: var(--secondary-color);
}

/* form */
.form--small {
  max-width: 400px;
  width: 100%;
  padding: 1em;
}

.form__title {
  font-size: 1.4rem;
  margin-bottom: 1em;

  a {
    text-decoration: none;
  }
}

form section {
  padding: 7px 0;
  margin-top: 5px;
}

.form__checkbox {
  display: flex;
  align-items: center;

  label {
    margin-left: 0.5em;
    margin-bottom: 0;
  }
}

.link {
  border: 0;
  padding: 0;
  cursor: pointer;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--minor-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal__body {
  width: 50%;
  min-height: 30%;
  max-height: 90%;
  overflow-y: auto;
  background-color: #fff;
  padding: 1em;
  border-radius: 3px;
  box-shadow: 0 2px 3px var(--minor-color);
}

.modal__title {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.modal__title h2 {
  font-size: 1.5rem;
  margin: 0 auto 0.5em;
  flex-grow: 1;
}

@media(max-width: 720px) {
  .modal__body {
    width: 90%;
  }
}
